<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CusPersonaCompanyProductMapper">
    
    <resultMap type="com.ruoyi.system.domain.CusPersonaCompanyProduct" id="CusPersonaCompanyProductResult">
        <result property="id"    column="id"    />
        <result property="classes"    column="classes"    />
        <result property="filterName"    column="filter_name"    />
        <result property="icon"    column="icon"    />
        <result property="type"    column="type"    />
        <result property="brief"    column="brief"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyId"    column="company_id"    />
        <result property="productName" column="product_name"/>
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
        
    <insert id="insertCusPersonaCompanyProduct" parameterType="CusPersonaCompanyProduct" useGeneratedKeys="true" keyProperty="id">
        insert into cus_persona_company_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classes != null">classes,</if>
            <if test="filterName != null">filter_name,</if>
            <if test="icon != null">icon,</if>
            <if test="type != null">type,</if>
            <if test="brief != null">brief,</if>
            <if test="companyName != null">company_name,</if>
            <if test="companyId != null">company_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classes != null">#{classes},</if>
            <if test="filterName != null">#{filterName},</if>
            <if test="icon != null">#{icon},</if>
            <if test="type != null">#{type},</if>
            <if test="brief != null">#{brief},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
</mapper>