<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CusPersonaCompanyRelationshipMapper">
    
    <resultMap type="com.ruoyi.system.domain.CusPersonaCompanyRelationship" id="CusPersonaCompanyRelationshipResult">
        <result property="id"    column="id"    />
        <result property="startNode"    column="start_node"    />
        <result property="relationshipId"    column="relationship_id"    />
        <result property="endNode"    column="end_node"    />
        <result property="labels"    column="labels"    />
        <result property="percent"    column="percent"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyId"    column="company_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
        
    <insert id="insertCusPersonaCompanyRelationship" parameterType="CusPersonaCompanyRelationship" useGeneratedKeys="true" keyProperty="id">
        insert into cus_persona_company_relationship
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="startNode != null">start_node,</if>
            <if test="relationshipId != null">relationship_id,</if>
            <if test="endNode != null">end_node,</if>
            <if test="labels != null">labels,</if>
            <if test="percent != null">percent,</if>
            <if test="companyName != null">company_name,</if>
            <if test="companyId != null">company_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="startNode != null">#{startNode},</if>
            <if test="relationshipId != null">#{relationshipId},</if>
            <if test="endNode != null">#{endNode},</if>
            <if test="labels != null">#{labels},</if>
            <if test="percent != null">#{percent},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
    
</mapper>