<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CusPersonaCompanyBusinessMapper">

    <resultMap type="CusPersonaCompanyBusiness" id="CusPersonaCompanyBusinessResult">
        <result property="id"    column="id"    />
        <result property="companyName"    column="company_name"    />
        <result property="creditCode"    column="credit_code"    />
        <result property="companyOrgType"    column="company_org_type"    />
        <result property="socialStaffNum"    column="social_staff_num"    />
        <result property="historyNames"    column="history_names"    />
        <result property="regLocation"    column="reg_location"    />
        <result property="regStatus"    column="reg_status"    />
        <result property="estiblishTime"    column="estiblish_time"    />
        <result property="toTime"    column="to_time"    />
        <result property="regCapital"    column="reg_capital"    />
        <result property="actualCapital"    column="actual_capital"    />
        <result property="taxNumber"    column="tax_number"    />
        <result property="taxQualification" column="tax_qualification"/>
        <result property="industry"    column="industry"    />
        <result property="industryType"    column="industry_type"    />
        <result property="regInstitute"    column="reg_institute"    />
        <result property="englishName"    column="english_name"    />
        <result property="percentileScore"    column="percentile_score"    />
        <result property="regNumber"    column="reg_number"    />
        <result property="orgNumber"    column="org_number"    />
        <result property="approvedTime"    column="approved_time"    />
        <result property="staffNumRange"    column="staff_num_range"    />
        <result property="businessScope"    column="business_scope"    />
        <result property="base"    column="base"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="regCapitalCurrency"    column="reg_capital_currency"    />
        <result property="actualCapitalCurrency"    column="actual_capital_currency"    />
        <result property="legalPersonName"    column="legal_person_name"    />
        <result property="companyEmail"    column="company_email"    />
        <result property="companyId"    column="company_id"    />
        <result property="websiteList"    column="website_list"    />
        <result property="createBy"    column="create_by"    />
        <result property="isMicroEnt"    column="is_micro_ent"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="category"    column="category"    />
        <result property="categoryBig"    column="category_big"    />
        <result property="categoryMiddle"    column="category_middle"    />
        <result property="categorySmall"    column="category_small"    />
        <result property="companyProfile" column="company_profile"/>
        <result property="queryKeyword" column="query_keyword"/>
        <result property="logo" column="logo"/>
        <result property="alias" column="alias"/>
    </resultMap>
    <resultMap type="PersonaVoCopy" id="PersonaVoResult">
        <id property="id" column="cus_id"/>
        <result property="name" column="cus_name"/>
        <result property="company" column="company"/>
        <result property="post" column="post"/>
        <result property="phone" column="phone" javaType="String"/>
        <result property="companyOrgType" column="company_org_type" javaType="String"/>
        <result property="regLocation" column="reg_location"/>
        <result property="source" column="source"/>
        <result property="userName" column="nick_name"/>
        <result property="isAttent" column="is_attent"/>
        <result property="deptName" column="dept_name"/>
        <result property="businessScope" column="business_scope"/>
        <result property="companyId" column="company_id"/>
        <result property="industryType" column="industry_type"/>
    </resultMap>

    <sql id="selectCusPersonaCompanyBusinessVo">
        select id, company_name, credit_code, company_org_type, social_staff_num, history_names, reg_location, reg_status, estiblish_time, to_time, reg_capital, actual_capital, tax_number, tax_qualification, industry, reg_institute, english_name, percentile_score, reg_number, org_number, approved_time, staff_num_range, business_scope, base, phone_number, reg_capital_currency, actual_capital_currency, legal_person_name, company_email, company_id, website_list, create_by, is_micro_ent, category, category_big, category_middle, category_small, create_time, update_by, update_time, company_profile, remark, query_keyword, logo, alias from cus_persona_company_business
    </sql>

    <select id="selectBusinessByCompanyName" parameterType="String" resultMap="CusPersonaCompanyBusinessResult">
        select pb.id, pb.company_name, pb.credit_code, pb.company_org_type, pb.social_staff_num, pb.history_names, pb.reg_location, pb.reg_status, pb.estiblish_time, pb.to_time, pb.reg_capital, pb.actual_capital, pb.tax_number, pb.tax_qualification, pb.industry, pb.reg_institute, pb.english_name, pb.percentile_score, pb.reg_number, pb.org_number, pb.approved_time, pb.staff_num_range, pb.business_scope, pb.base, pb.phone_number, pb.reg_capital_currency, pb.actual_capital_currency, pb.legal_person_name, pb.company_email, pb.company_id, pb.website_list, pb.create_by, pb.is_micro_ent, pb.category, pb.category_big, pb.category_middle, pb.category_small, pb.create_time, pb.update_by, pb.update_time, pb.company_profile, pb.remark, pb.query_keyword, pb.logo, pb.alias, pc.industry_type
        from cus_persona_company_business pb
                 left join cus_persona_customer pc on pc.company_id =pb.company_id
        where pb.company_name = #{companyName} or FIND_IN_SET(#{companyName},pb.query_keyword) > 0
        limit 1
    </select>

    <select id="selectCompanyBusinessNullList" resultMap="CusPersonaCompanyBusinessResult">
        <include refid="selectCusPersonaCompanyBusinessVo"/>
        where company_profile is null or company_profile=""
        and create_time BETWEEN '2024-03-09' and '2024-03-13'
        order by create_time desc limit 50
    </select>

    <select id="selectCusPersonaCompanyBusinessList" parameterType="CusPersonaCompanyBusiness" resultMap="CusPersonaCompanyBusinessResult">
        <include refid="selectCusPersonaCompanyBusinessVo"/>
        <where>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="creditCode != null  and creditCode != ''"> and credit_code = #{creditCode}</if>
            <if test="companyOrgType != null  and companyOrgType != ''"> and company_org_type = #{companyOrgType}</if>
            <if test="socialStaffNum != null  and socialStaffNum != ''"> and social_staff_num = #{socialStaffNum}</if>
            <if test="historyNames != null  and historyNames != ''"> and history_names = #{historyNames}</if>
            <if test="regLocation != null  and regLocation != ''"> and reg_location = #{regLocation}</if>
            <if test="regStatus != null  and regStatus != ''"> and reg_status = #{regStatus}</if>
            <if test="estiblishTime != null "> and estiblish_time = #{estiblishTime}</if>
            <if test="toTime != null "> and to_time = #{toTime}</if>
            <if test="regCapital != null  and regCapital != ''"> and reg_capital = #{regCapital}</if>
            <if test="actualCapital != null  and actualCapital != ''"> and actual_capital = #{actualCapital}</if>
            <if test="taxNumber != null  and taxNumber != ''"> and tax_number = #{taxNumber}</if>
            <if test="industry != null  and industry != ''"> and industry = #{industry}</if>
            <if test="regInstitute != null  and regInstitute != ''"> and reg_institute = #{regInstitute}</if>
            <if test="englishName != null  and englishName != ''"> and english_name like concat('%', #{englishName}, '%')</if>
            <if test="percentileScore != null  and percentileScore != ''"> and percentile_score = #{percentileScore}</if>
            <if test="regNumber != null  and regNumber != ''"> and reg_number = #{regNumber}</if>
            <if test="orgNumber != null  and orgNumber != ''"> and org_number = #{orgNumber}</if>
            <if test="approvedTime != null "> and approved_time = #{approvedTime}</if>
            <if test="staffNumRange != null  and staffNumRange != ''"> and staff_num_range = #{staffNumRange}</if>
            <if test="businessScope != null  and businessScope != ''"> and business_scope = #{businessScope}</if>
            <if test="base != null  and base != ''"> and base = #{base}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="regCapitalCurrency != null  and regCapitalCurrency != ''"> and reg_capital_currency = #{regCapitalCurrency}</if>
            <if test="actualCapitalCurrency != null  and actualCapitalCurrency != ''"> and actual_capital_currency = #{actualCapitalCurrency}</if>
            <if test="legalPersonName != null  and legalPersonName != ''"> and legal_person_name like concat('%', #{legalPersonName}, '%')</if>
            <if test="companyEmail != null  and companyEmail != ''"> and company_email = #{companyEmail}</if>
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="websiteList != null  and websiteList != ''"> and website_list = #{websiteList}</if>
        </where>
    </select>

    <select id="selectCusPersonaCompanyBusinessById" parameterType="Long" resultMap="CusPersonaCompanyBusinessResult">
        <include refid="selectCusPersonaCompanyBusinessVo"/>
        where id = #{id}
    </select>
    <select id="existBusinessByCompanyId" parameterType="String" resultMap="CusPersonaCompanyBusinessResult">
        <include refid="selectCusPersonaCompanyBusinessVo"/>
        where id = #{companyId}
        limit 1
    </select>
    <select id="getEnterpriseTypeByXY" resultType="String">
        SELECT
            bdc.`NAME`
        FROM
            bic_azct_d00300 bad
                LEFT JOIN bic_dict_company bdc ON bad.ZTFDWXZ0 = bdc.`CODE`
        WHERE bad.TXTLG = #{companyName}
        LIMIT 1
    </select>

    <insert id="insertCusPersonaCompanyBusiness" parameterType="CusPersonaCompanyBusiness" useGeneratedKeys="true" keyProperty="id">
        insert into cus_persona_company_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">company_name,</if>
            <if test="creditCode != null">credit_code,</if>
            <if test="companyOrgType != null">company_org_type,</if>
            <if test="socialStaffNum != null">social_staff_num,</if>
            <if test="historyNames != null">history_names,</if>
            <if test="regLocation != null">reg_location,</if>
            <if test="regStatus != null">reg_status,</if>
            <if test="estiblishTime != null">estiblish_time,</if>
            <if test="toTime != null">to_time,</if>
            <if test="regCapital != null">reg_capital,</if>
            <if test="actualCapital != null">actual_capital,</if>
            <if test="taxNumber != null">tax_number,</if>
            <if test="taxQualification != null">tax_qualification,</if>
            <if test="industry != null">industry,</if>
            <if test="regInstitute != null">reg_institute,</if>
            <if test="englishName != null">english_name,</if>
            <if test="percentileScore != null">percentile_score,</if>
            <if test="regNumber != null">reg_number,</if>
            <if test="orgNumber != null">org_number,</if>
            <if test="approvedTime != null">approved_time,</if>
            <if test="staffNumRange != null">staff_num_range,</if>
            <if test="businessScope != null">business_scope,</if>
            <if test="base != null">base,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="regCapitalCurrency != null">reg_capital_currency,</if>
            <if test="actualCapitalCurrency != null">actual_capital_currency,</if>
            <if test="legalPersonName != null">legal_person_name,</if>
            <if test="companyEmail != null">company_email,</if>
            <if test="companyId != null">company_id,</if>
            <if test="websiteList != null">website_list,</if>
            <if test="createBy != null">create_by,</if>
            <if test="isMicroEnt != null">is_micro_ent,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="category != null">category,</if>
            <if test="categoryBig != null">category_big,</if>
            <if test="categoryMiddle != null">category_middle,</if>
            <if test="categorySmall != null">category_small,</if>
            <if test="companyProfile != null">company_profile,</if>
            <if test="queryKeyword != null">query_keyword,</if>
            <if test="logo != null">logo,</if>
            <if test="alias != null">alias,</if>
            <if test="enterpriseType != null">enterprise_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">#{companyName},</if>
            <if test="creditCode != null">#{creditCode},</if>
            <if test="companyOrgType != null">#{companyOrgType},</if>
            <if test="socialStaffNum != null">#{socialStaffNum},</if>
            <if test="historyNames != null">#{historyNames},</if>
            <if test="regLocation != null">#{regLocation},</if>
            <if test="regStatus != null">#{regStatus},</if>
            <if test="estiblishTime != null">#{estiblishTime},</if>
            <if test="toTime != null">#{toTime},</if>
            <if test="regCapital != null">#{regCapital},</if>
            <if test="actualCapital != null">#{actualCapital},</if>
            <if test="taxNumber != null">#{taxNumber},</if>
            <if test="taxQualification != null">#{taxQualification},</if>
            <if test="industry != null">#{industry},</if>
            <if test="regInstitute != null">#{regInstitute},</if>
            <if test="englishName != null">#{englishName},</if>
            <if test="percentileScore != null">#{percentileScore},</if>
            <if test="regNumber != null">#{regNumber},</if>
            <if test="orgNumber != null">#{orgNumber},</if>
            <if test="approvedTime != null">#{approvedTime},</if>
            <if test="staffNumRange != null">#{staffNumRange},</if>
            <if test="businessScope != null">#{businessScope},</if>
            <if test="base != null">#{base},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="regCapitalCurrency != null">#{regCapitalCurrency},</if>
            <if test="actualCapitalCurrency != null">#{actualCapitalCurrency},</if>
            <if test="legalPersonName != null">#{legalPersonName},</if>
            <if test="companyEmail != null">#{companyEmail},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="websiteList != null">#{websiteList},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="isMicroEnt != null">#{isMicroEnt},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="category != null">#{category},</if>
            <if test="categoryBig != null">#{categoryBig},</if>
            <if test="categoryMiddle != null">#{categoryMiddle},</if>
            <if test="categorySmall != null">#{categorySmall},</if>
            <if test="companyProfile != null">#{companyProfile},</if>
            <if test="queryKeyword != null">#{queryKeyword},</if>
            <if test="logo != null">#{logo},</if>
            <if test="alias != null">#{alias},</if>
            <if test="enterpriseType != null">#{enterpriseType},</if>
        </trim>
    </insert>

    <insert id="insertCusPersonaBidsBusiness" parameterType="CusPersonaCompanyBusiness" useGeneratedKeys="true" keyProperty="id">
        insert into cus_persona_bids_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">company_name,</if>
            <if test="creditCode != null">credit_code,</if>
            <if test="companyOrgType != null">company_org_type,</if>
            <if test="socialStaffNum != null">social_staff_num,</if>
            <if test="historyNames != null">history_names,</if>
            <if test="regLocation != null">reg_location,</if>
            <if test="regStatus != null">reg_status,</if>
            <if test="estiblishTime != null">estiblish_time,</if>
            <if test="toTime != null">to_time,</if>
            <if test="regCapital != null">reg_capital,</if>
            <if test="actualCapital != null">actual_capital,</if>
            <if test="taxNumber != null">tax_number,</if>
            <if test="taxQualification != null">tax_qualification,</if>
            <if test="industry != null">industry,</if>
            <if test="regInstitute != null">reg_institute,</if>
            <if test="englishName != null">english_name,</if>
            <if test="percentileScore != null">percentile_score,</if>
            <if test="regNumber != null">reg_number,</if>
            <if test="orgNumber != null">org_number,</if>
            <if test="approvedTime != null">approved_time,</if>
            <if test="staffNumRange != null">staff_num_range,</if>
            <if test="businessScope != null">business_scope,</if>
            <if test="base != null">base,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="regCapitalCurrency != null">reg_capital_currency,</if>
            <if test="actualCapitalCurrency != null">actual_capital_currency,</if>
            <if test="legalPersonName != null">legal_person_name,</if>
            <if test="companyEmail != null">company_email,</if>
            <if test="companyId != null">company_id,</if>
            <if test="websiteList != null">website_list,</if>
            <if test="createBy != null">create_by,</if>
            <if test="isMicroEnt != null">is_micro_ent,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="category != null">category,</if>
            <if test="categoryBig != null">category_big,</if>
            <if test="categoryMiddle != null">category_middle,</if>
            <if test="categorySmall != null">category_small,</if>
            <if test="companyProfile != null">company_profile,</if>
            <if test="queryKeyword != null">query_keyword,</if>
            <if test="logo != null">logo,</if>
            <if test="alias != null">alias,</if>
            <if test="enterpriseType != null">enterprise_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">#{companyName},</if>
            <if test="creditCode != null">#{creditCode},</if>
            <if test="companyOrgType != null">#{companyOrgType},</if>
            <if test="socialStaffNum != null">#{socialStaffNum},</if>
            <if test="historyNames != null">#{historyNames},</if>
            <if test="regLocation != null">#{regLocation},</if>
            <if test="regStatus != null">#{regStatus},</if>
            <if test="estiblishTime != null">#{estiblishTime},</if>
            <if test="toTime != null">#{toTime},</if>
            <if test="regCapital != null">#{regCapital},</if>
            <if test="actualCapital != null">#{actualCapital},</if>
            <if test="taxNumber != null">#{taxNumber},</if>
            <if test="taxQualification != null">#{taxQualification},</if>
            <if test="industry != null">#{industry},</if>
            <if test="regInstitute != null">#{regInstitute},</if>
            <if test="englishName != null">#{englishName},</if>
            <if test="percentileScore != null">#{percentileScore},</if>
            <if test="regNumber != null">#{regNumber},</if>
            <if test="orgNumber != null">#{orgNumber},</if>
            <if test="approvedTime != null">#{approvedTime},</if>
            <if test="staffNumRange != null">#{staffNumRange},</if>
            <if test="businessScope != null">#{businessScope},</if>
            <if test="base != null">#{base},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="regCapitalCurrency != null">#{regCapitalCurrency},</if>
            <if test="actualCapitalCurrency != null">#{actualCapitalCurrency},</if>
            <if test="legalPersonName != null">#{legalPersonName},</if>
            <if test="companyEmail != null">#{companyEmail},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="websiteList != null">#{websiteList},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="isMicroEnt != null">#{isMicroEnt},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="category != null">#{category},</if>
            <if test="categoryBig != null">#{categoryBig},</if>
            <if test="categoryMiddle != null">#{categoryMiddle},</if>
            <if test="categorySmall != null">#{categorySmall},</if>
            <if test="companyProfile != null">#{companyProfile},</if>
            <if test="queryKeyword != null">#{queryKeyword},</if>
            <if test="logo != null">#{logo},</if>
            <if test="alias != null">#{alias},</if>
            <if test="enterpriseType != null">#{enterpriseType},</if>
        </trim>
    </insert>
    <select id="existBusinessInfo" resultMap="CusPersonaCompanyBusinessResult">
        <include refid="selectCusPersonaCompanyBusinessVo"/>
        where company_name = #{companyName}
        limit 1
    </select>

    <select id="existBidWinnerBusinessInfo" resultMap="CusPersonaCompanyBusinessResult">
        select id, company_name, credit_code, company_org_type, social_staff_num, history_names, reg_location, reg_status, estiblish_time, to_time, reg_capital, actual_capital, tax_number, tax_qualification, industry, reg_institute, english_name, percentile_score, reg_number, org_number, approved_time, staff_num_range, business_scope, base, phone_number, reg_capital_currency, actual_capital_currency, legal_person_name, company_email, company_id, website_list, create_by, is_micro_ent, category, category_big, category_middle, category_small, create_time, update_by, update_time, company_profile, remark, query_keyword, logo, alias
        from cus_persona_bids_business
        where company_name = #{companyName}
        limit 1
    </select>

    <select id="existPersonaInfo" resultMap="PersonaVoResult">
        SELECT cpcb.id, cpcb.company_id as company_id, cpcb.company_name AS company, IFNULL("0",cpc.industry_type) as industry_type
        FROM cus_persona_company_business cpcb
                 LEFT JOIN cus_persona_customer cpc ON cpcb.company_id = cpc.company_id
        WHERE cpcb.company_id = #{companyId}
        LIMIT 1
    </select>

    <update id="updateCusPersonaCompanyBusiness" parameterType="CusPersonaCompanyBusiness">
        update cus_persona_company_business
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="creditCode != null">credit_code = #{creditCode},</if>
            <if test="companyOrgType != null">company_org_type = #{companyOrgType},</if>
            <if test="socialStaffNum != null">social_staff_num = #{socialStaffNum},</if>
            <if test="historyNames != null">history_names = #{historyNames},</if>
            <if test="regLocation != null">reg_location = #{regLocation},</if>
            <if test="regStatus != null">reg_status = #{regStatus},</if>
            <if test="estiblishTime != null">estiblish_time = #{estiblishTime},</if>
            <if test="toTime != null">to_time = #{toTime},</if>
            <if test="regCapital != null">reg_capital = #{regCapital},</if>
            <if test="actualCapital != null">actual_capital = #{actualCapital},</if>
            <if test="taxNumber != null">tax_number = #{taxNumber},</if>
            <if test="taxQualification != null">tax_qualification = #{taxQualification},</if>
            <if test="industry != null">industry = #{industry},</if>
            <if test="regInstitute != null">reg_institute = #{regInstitute},</if>
            <if test="englishName != null">english_name = #{englishName},</if>
            <if test="percentileScore != null">percentile_score = #{percentileScore},</if>
            <if test="regNumber != null">reg_number = #{regNumber},</if>
            <if test="orgNumber != null">org_number = #{orgNumber},</if>
            <if test="approvedTime != null">approved_time = #{approvedTime},</if>
            <if test="staffNumRange != null">staff_num_range = #{staffNumRange},</if>
            <if test="businessScope != null">business_scope = #{businessScope},</if>
            <if test="base != null">base = #{base},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="regCapitalCurrency != null">reg_capital_currency = #{regCapitalCurrency},</if>
            <if test="actualCapitalCurrency != null">actual_capital_currency = #{actualCapitalCurrency},</if>
            <if test="legalPersonName != null">legal_person_name = #{legalPersonName},</if>
            <if test="companyEmail != null">company_email = #{companyEmail},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="websiteList != null">website_list = #{websiteList},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="isMicroEnt != null">is_micro_ent = #{isMicroEnt},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="category != null">category = #{category},</if>
            <if test="categoryBig != null">category_big = #{categoryBig},</if>
            <if test="categoryMiddle != null">category_middle = #{categoryMiddle},</if>
            <if test="categorySmall != null">category_small = #{categorySmall},</if>
            <if test="companyProfile != null">company_profile = #{companyProfile},</if>
            <if test="queryKeyword != null">query_keyword = #{queryKeyword},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="alias != null">alias = #{alias},</if>
            <if test="enterpriseType != null">enterprise_type = #{enterpriseType}</if>
        </trim>
        where id = #{id}
    </update>

    <update id="completeCompanyProfile" parameterType="CusPersonaCompanyBusiness">
    update cus_persona_company_business set company_profile = #{companyProfile}
    where id = #{id}
    </update>

    <update id="updateCompanyProfile">
        update cus_persona_company_business
        set company_profile = #{companyProfile}
        where company_id = #{companyId}
    </update>

    <delete id="deleteCusPersonaCompanyBusinessById" parameterType="Long">
        delete from cus_persona_company_business where id = #{id}
    </delete>

    <delete id="deleteCusPersonaCompanyBusinessByIds" parameterType="String">
        delete from cus_persona_company_business where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
