<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comp.components.mapper.CusPersonaCategoryInvestMapper">
    
    <resultMap type="com.comp.components.domain.CusPersonaCategoryInvest" id="CusPersonaCategoryInvestResult">
        <result property="id"    column="id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="categoryNum"    column="category_num"    />
        <result property="categoryKey"    column="category_key"    />
        <result property="companyId"    column="company_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="companyName"   column="company_name"/>
    </resultMap>
        
    <insert id="insertCusPersonaCategoryInvest" parameterType="com.comp.components.domain.CusPersonaCategoryInvest" useGeneratedKeys="true" keyProperty="id">
        insert into cus_persona_category_invest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">category_name,</if>
            <if test="categoryNum != null">category_num,</if>
            <if test="categoryKey != null">category_key,</if>
            <if test="companyId != null">company_id,</if>
            <if test="companyName != null">company_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">#{categoryName},</if>
            <if test="categoryNum != null">#{categoryNum},</if>
            <if test="categoryKey != null">#{categoryKey},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
    
</mapper>