<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comp.components.mapper.CusPersonaCourtNoticeMapper">
    
    <resultMap type="com.comp.components.domain.CusPersonaCourtNotice" id="CusPersonaCourtNoticeResult">
        <result property="id"    column="id"    />
        <result property="contractors"    column="contractors"    />
        <result property="plaintiff"    column="plaintiff"    />
        <result property="defendantName"    column="defendant_name"    />
        <result property="courtroom"    column="courtroom"    />
        <result property="defendant"    column="defendant"    />
        <result property="judge"    column="judge"    />
        <result property="noticeId" column="notice_id"/>
        <result property="court"    column="court"    />
        <result property="caseNo"    column="case_no"    />
        <result property="caseReason"    column="case_reason"    />
        <result property="companyId"    column="company_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="litigant"    column="litigant"    />
        <result property="startDate"    column="start_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
        
    <insert id="insertCusPersonaCourtNotice" parameterType="com.comp.components.domain.CusPersonaCourtNotice">
        insert into cus_persona_court_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="contractors != null">contractors,</if>
            <if test="plaintiff != null">plaintiff,</if>
            <if test="defendantName != null">defendant_name,</if>
            <if test="courtroom != null">courtroom,</if>
            <if test="defendant != null">defendant,</if>
            <if test="judge != null">judge,</if>
            <if test="noticeId != null">notice_id,</if>
            <if test="court != null">court,</if>
            <if test="caseNo != null">case_no,</if>
            <if test="caseReason != null">case_reason,</if>
            <if test="companyId != null">company_id,</if>
            <if test="companyName != null">company_name,</if>
            <if test="litigant != null">litigant,</if>
            <if test="startDate != null">start_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="contractors != null">#{contractors},</if>
            <if test="plaintiff != null">#{plaintiff},</if>
            <if test="defendantName != null">#{defendantName},</if>
            <if test="courtroom != null">#{courtroom},</if>
            <if test="defendant != null">#{defendant},</if>
            <if test="judge != null">#{judge},</if>
            <if test="noticeId != null">#{noticeId},</if>
            <if test="court != null">#{court},</if>
            <if test="caseNo != null">#{caseNo},</if>
            <if test="caseReason != null">#{caseReason},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="litigant != null">#{litigant},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
</mapper>