<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.components.mapper.CusPersonaJudicialCaseMapper">
    
    <resultMap type="com.ruoyi.components.domain.CusPersonaJudicialCase" id="CusPersonaJudicialCaseResult">
        <result property="id"    column="id"    />
        <result property="caseCode"    column="case_code"    />
        <result property="trialTime"    column="trial_time"    />
        <result property="caseIdentity"    column="case_identity"    />
        <result property="trialProcedure"    column="trial_procedure"    />
        <result property="caseTitle"    column="case_title"    />
        <result property="caseReason"    column="case_reason"    />
        <result property="caseType"    column="case_type"    />
        <result property="companyName"    column="company_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <insert id="insertCusPersonaJudicialCase" parameterType="com.ruoyi.components.domain.CusPersonaJudicialCase" useGeneratedKeys="true" keyProperty="id">
        insert into cus_persona_judicial_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseCode != null">case_code,</if>
            <if test="trialTime != null">trial_time,</if>
            <if test="caseIdentity != null">case_identity,</if>
            <if test="trialProcedure != null">trial_procedure,</if>
            <if test="caseTitle != null">case_title,</if>
            <if test="caseReason != null">case_reason,</if>
            <if test="caseType != null">case_type,</if>
            <if test="companyName != null">company_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseCode != null">#{caseCode},</if>
            <if test="trialTime != null">#{trialTime},</if>
            <if test="caseIdentity != null">#{caseIdentity},</if>
            <if test="trialProcedure != null">#{trialProcedure},</if>
            <if test="caseTitle != null">#{caseTitle},</if>
            <if test="caseReason != null">#{caseReason},</if>
            <if test="caseType != null">#{caseType},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="saveBatchJudicialCase" >
        insert into cus_persona_judicial_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            case_code,trial_time,case_identity,trial_procedure,case_title,case_reason,case_type,company_name,create_by,create_time,update_by,update_time
        </trim>
        <!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
        <trim prefix="values " suffixOverrides=",">
            <foreach collection="list" separator="," item="item">
                (#{item.caseCode},
                #{item.trialTime},
                #{item.caseIdentity},
                #{item.trialProcedure},
                #{item.caseTitle},
                #{item.caseReason},
                #{item.caseType},
                #{item.companyName},
                #{item.createBy},
                #{item.createTime},
                #{item.updateBy},
                #{item.updateTime})
            </foreach>

        </trim>
    </insert>

</mapper>